/* ------ ( Every page ) ------ */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(207, 207, 207);
    font-size: 18px;
}

html, body, .body-div{
    height: 100vh;
    background-color: #363541;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color:rgb(135, 196, 111);
}

h2 {
    color:rgb(135, 196, 111);
}

h3 {
    font-style: italic;
    color: rgb(182, 211, 171);
}

ul {
    list-style-type: square;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

@keyframes fadeInR {
    from { opacity: 0;
        transform: translateX(30px);
    }
    to { opacity: 1; 
        transform: translateX(0);
    }
}

@keyframes fadeU {
    from { opacity: 0;
        transform: translateY(30px);
    }
    to { opacity: 1; 
        transform: translateY(0);
    }
}

.fadeUp {
    animation-name: fadeU;
    animation-duration: 1s;
}

.fadeInRight {
    animation-name: fadeInR;
    animation-duration: 1s;
}

.fadeInElement {
    animation-name: fadeIn;
    animation-duration: 2s;
}

/* ------ ( home.html ) ------ */

.Portrait{
    border-radius: 50%;
}

#name {
    color:rgb(133, 226, 97);
    font-family:'Times New Roman', Times, serif;
}

#titleLine {
    font-style: italic;
    color:rgb(182, 211, 171);
}

#about-btn{
    margin-bottom: 2%;
}

.home-contents {
    margin-top: 2.5%;
}

.home-text {
    margin-left: 10%;
    margin-top: 7%;
}

/* ------ ( about.html ) ------ */

#aboutMe {
    margin-top: 3%;
}

#linkedIn {
    margin-bottom: 3%;
}

.Graduation{
    border-radius: 10%;
    margin-bottom: 7%;
}

/* ------ ( Project pages ) ------ */
.projectHeader {
    text-align: center;
    margin-top: 2%;
}

#webBtn {
    margin-bottom: 2%;
}

.projectImg {
    margin-bottom: 3%;
}

.lowerPics {
    margin-top: 2%;
}

#copyright {
    color:rgb(149, 148, 163);
}

.projectContents{
    margin-top: 2%;
}

.projectText {
    margin-right: 3%;
}
